body{
  background-color: #fcf6b9ff;
  color: black;
  font-size: 40;
  font-family: 'Alegreya',serif;
}

div {
  text-align: center;
  font-size: 60px;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}

#team{
  text-align: center;
  font-size:25px;
  font-family: 'Alegreya',serif;
}

#bella {
  text-align: center;
  font-size: 40;
}


#feed {
  margin: 50px;
}
#profile {
  margin: 200px;
}
#meaning {
  margin:-90px;
}
#mea2 {
  margin:520px;
}
#aboutUs {
  margin: 290px;
}
#contact {
  margin: -50px;
}

a:link{
  color:black;
  text-decoration: none;
}

a:visited{
  color:black;
  text-decoration: none;
}

a:hover{
  color:black;
  text-decoration: none;
}

a:active{
  color:black;
  text-decoration: none;
}

