body {
font-family: 'Alegreya', serif;
font size: 600px;
background-color: #fcf6b9ff;
}

#feed {
  margin: 50px;
}

#profile {

  margin: 200px;
}

#meaning {
  margin:-90px;
}

#mea2 {
  margin:520px;
}

#aboutUs {
  margin: 250px;
}

#contact {
  margin: -70px;
}

h1 {
padding-bottom: 60px;
text-align: center;
font-size: 40px;
}

h2 {
padding-bottom: 20px;
text-align: center;
font-size: 20px;
}

div {
  text-align:center;
  font-size: 60px;
}
